html, body{
  overflow: initial !important;
}

#fb-link{
  text-decoration: none;
}

#fb-link span:before{
  content: 'Follow our Facebook page for lastest updates';
}

#fb-icon,
#fb-link span{
  color:white;
  vertical-align: middle;
  line-height: 50px;
}

#fb-icon + #fb-link:hover,
#fb-link:hover span{
  color: rgb(59, 89, 152);
}

.body-carousel{
  background: black; 
}

#show {
    display:block;
    position:fixed;
    top:300px;
    left:300px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0; 
  padding-left: 0;
  padding-right: 0;
  left:0;
  width:100%;
/*  position:fixed;
  -webkit-backface-visibility: hidden !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
   transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000 !important;
  backface-visibility: hidden !important;*/
  z-index: 1000 !important;
}

.bg-company-red {
  background-color: rgba(138,48,48, 1);
}

.bg-cool-dark {
  background-color: rgb(28,35,49);
}

.custom-toggler.navbar-toggler {
  border-color: rgba(255,255,255, .25);
  outline : none;
  transition: border-color 0.5s;
  transition: background 0.5s;
} 

#navButton:hover, 
#navButton.is-active {
  border-color: rgba(138,48,48, 1) !important;
  background: rgba(255,255,255, 1) !important;
  outline : none;
} 

.span{
  overflow: hidden;
}

a:hover span, 
a.nav-link.is-active span{
  color: rgba(255, 255, 255, 1);
}

.point {
  height: 2px;
  background: white;
  transform: scaleX(0);  
  transform-origin: 0% 50%;
  transition: transform 0.5s ease-in-out;
}

a.nav-link.is-active .point{
  width: 100%;
  transform: scaleX(1); 
}

a:hover .point{
  width: 100%; 
  transform: scaleX(1); 
  transform-origin: 0% 50%;
}

.nav-item:hover{
  cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transition: background-image 1s;
}

#navButton:hover .navbar-toggler-icon,
#navButton.is-active .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(138,48,48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carouselImg{
  width: 65%;
  margin:auto;
}

@media (max-width: 992px){
  .carouselImg{
    width: 85%;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: rgba(0,0,0, 0.5);
  }
  
  .navbar {
    padding-right: 0;
  }
  
  #navButton{
    margin: 5px;
  }
  .point {
    margin:auto;
    width: 20% !important;
    transform-origin: 50% 50%;
  }
  a:hover .point{
    width: 20% !important;
    transform-origin: 50% 50%;
  }

  .carouselImg{
    width: 100%;
  }
}


@media (max-width: 576px) {
   .carousel-control-prev,.carousel-control-next{
      margin: 14% 0 14% 0 !important;
      width: 48px !important;
  }

  #fb-link span::before{
    content: 'Follow for lastest updates' !important;
  }
}

.carousel-inner>.item {
 width: 100%;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-control-prev,.carousel-control-next{
  background-color: black;
  margin: 17% 0 17% 0;
  border-radius: 0px 30px 30px 0px;
  width: 64px;
}

.carousel-control-next{
  border-radius: 30px 0px 0px 30px;
}

.carousel-control-prev-icon,.carousel-control-next-icon { 
  width: 32px;
  height: 32px;
}
.content{
  display: none;
}
.active.content{
  display: block;
}

.collapse-panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

html, body{
  height: 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

h5 span { font-size:16px; }

.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.05); 
}

#body-content{
  background-image: url("http://res.cloudinary.com/dpealgfbi/image/upload/v1525823866/128-196.jpg");
}

.body-carousel{
  //border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  //background: white;
  padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .body-content {
  padding-top: 60px;
}

#logo{
  border-bottom: 5px solid black;
}

footer{
}